nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-sizing: 0 0 30px gray;
}
p {
    padding: 10px;
}
aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
footer {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
